# Ignore Python cache and virtual environment
__pycache__/
*.pyc
venv/

.vscode/
ric-plt-dbass/

srsRAN-old/

srsRAN_senseoran/build/
imi/samples/
# Ignore big files and logs
imi/samples.zip
srsRAN_senseoran/configs/*.iso
srsRAN_senseoran/configs/*.log
srsRAN_senseoran/configs/*.txt
